<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link rel="stylesheet" href="styles.css">-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Itim&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"
        integrity="sha256-jDnOKIOq2KNsQZTcBTEnsp76FnfMEttF6AV2DF2fFNE=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js"
        integrity="sha256-JtQPj/3xub8oapVMaIijPNoM0DHoAtgh/gwFYuN5rik=" crossorigin="anonymous"></script>



    <!-- Bootstrap CSS -->
    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/waypoints/1.0.1/waypoints.min.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js">-->

    <title>Covid</title>
</head>
<style>
    html {
        scroll-behavior: smooth;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Itim', cursive;
    }

    .nav_style {
        background-color: #a29bfe !important;

    }

    .nav_style a {
        color: white;
    }

    .nav_style a:hover {
        color: blue;
    }

    .main_header {
        height: 450px;
        width: 90%;
    }

    .corona_go img {
        animation: gocorona 5s linear infinite;
        border-radius: 50%;

    }

    @keyframes gocorona {
        0% {
            transform: rotate(0);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    .leftside img {
        animation: heartbeat 5s linear infinite;
    }

    @keyframes heartbeat {
        0% {
            transform: scale(.75);
        }

        20% {
            transform: scale(1);
        }

        40% {
            transform: scale(.75);
        }

        60% {
            transform: scale(1);
        }

        80% {
            transform: scale(.75);
        }

        100% {
            transform: scale(.75);
        }
    }

    .corona_update {
        margin: 0 0 3px 0;
    }

    .corona_update h3 {
        color: #ff7675;
    }

    .corona_update h1 {
        font-size: 2rem;
        text-align: center;
    }

    .about_covid {
        width: 80%;
        height: 86%;
        margin: 32px 0 0 69px;
        border-radius: 9px;
    }

    .sub_section {
        background-color: #fbfafd;
    }

    .cold_fig img {
        border-radius: 50px;
    }

    .footer_style {
        background-color: #a29bfe !important;
    }

    .footer_style p {
        margin-bottom: 0 !important;
    }

    #myBtn {
        display: none;
        position: fixed;
        bottom: 30px;
        right: 40px;
        z-index: 99;
        border: none;
        outline: none;
        background-color: #00abff;
        color: white;
        cursor: pointer;
        padding: 10px;
        border-radius: 10px;
    }

    #myBtn:hover {
        background: #606060;
    }

    @media(max-width:768px) {
        .main_header {
            height: 700px;
            text-align: center;
        }

        .main_header h1 {
            text-align: center;
            padding: 0;
            width: 100%;
            font-size: 30px;
        }

        .count_style {
            display: inline !important;
        }

        .count_style p {
            text-align: center;
        }

        .about_covid {
            margin-left: 0 !important;
            padding-bottom: 20px;
        }

        .about_corona p {
            padding-right: 8px;
        }

        #preventid {
            padding-right: 8px;
        }

        #contactid {
            padding-right: 8px;
        }

        #tbval {
            margin-left: 10px !important;
            margin-right: 10px !important;
        }

        .navbar-toggler {
            padding: .25rem .75rem;
            font-size: 1.25rem;
            line-height: 1;
            background-color: greenyellow;
            border: 2px solid black;
            border-radius: .25rem;
        }
    }
</style>

<body onload="fetch()">
    <nav class="navbar navbar-expand-lg nav_style fixed-top" id="nav1">
        <a class="navbar-brand pl-5" href="/">Covid-19</a>
        <button class="navbar-toggler navbtn" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>            
        </button>

        <div class="collapse navbar-collapse nav_choice" id="navbarSupportedContent">

            <ul class="navbar-nav ml-auto pr-5 text-capitalize">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#aboutid">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#sympid">Symptoms</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#preventid">Prevention</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#contactid">Contact</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="main_header">
        <div class="row w-100 h-100">
            <div class="col-lg-5 col-md-5 col-12 order-lg-1 order-2">
                <div class="leftside w-100 h-100 d-flex justify-content-center align-items-center">
                    <img src="https://previews.123rf.com/images/glopphy/glopphy1510/glopphy151000059/47018352-teamwork-people-around-world-logo-vector.jpg"
                        width="300" height="300">
                </div>
            </div>
            <div class="col-lg-7 col-md-7 col-12 order-lg-2 order-1">
                <div class="rightside w-100 h-100 d-flex justify-content-center align-items-center">
                    <h1>
                        Let's stay Safe & Fight Together Against Cor<span class="corona_go">
                            <img
                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT8PiRol2JK-HmvmUg9U0BmqEe5frG_wAlfOtg5VUE4ZaSjFxGj4r3UtTPTnkhIYcP6lRA&usqp=CAU">
                        </span> na Virus
                    </h1>

                </div>
            </div>
        </div>
    </div>





    <!--Corona latest update-->
    <section class="corona_update container-fluid">
        <div class="mb-3">
            <h3 class="text-uppercase text-center">COVID-19 LIVE UPDATES</h3>

        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-striped text-center" id="tbval">
                <tr>
                    <th> Country</th>
                    <th>TotalConfirmed</th>
                    <th>TotalRecovered</th>
                    <th>TotalDeaths</th>
                    <th>NewConfirmed</th>
                    <th>NewRecovered</th>
                    <th>NewDeaths</th>
                </tr>
            </table>

        </div>
    </section>





    <!----------------About COVID-19-------------------->
    <div class="container-fluid sub_section pt-5 pb-5" id="aboutid">
        <div class="section_header text-center mb-5 mt-4">
            <h1>About COVID-19</h1>
        </div>
        <div class="row pt-5">
            <div class="col-lg-5 col-md-6 col-12">
                <img src="https://www.irishtimes.com/polopoly_fs/1.4191420.1583235452!/image/image.jpg"
                    class="img-fluid about_covid">
            </div>
            <div class="col-lg-6 col-md-6 col-12 about_corona">
                <h2>What is COVID-19 (Corona Virus)</h2>
                <p>Coronavirus disease 2019 (COVID-19), also known as the coronavirus, COVID or Covid, is a contagious
                    disease caused by severe acute respiratory syndrome coronavirus 2 (SARS-CoV-2). The first known case
                    was identified in Wuhan, China, in December 2019. The disease has since spread worldwide, leading to
                    an ongoing pandemic</p>
                <p>Symptoms of COVID-19 are variable, but often include fever, cough, headache, fatigue, breathing
                    difficulties, and loss of smell and taste. Symptoms may begin one to fourteen days after exposure to
                    the virus. At least a third of people who are infected do not develop noticeable symptoms. Of those
                    people who develop noticeable symptoms enough to be classed as patients, most (81%) develop mild to
                    moderate symptoms (up to mild pneumonia), while 14% develop severe symptoms (dyspnea, hypoxia, or
                    more than 50% lung involvement on imaging), and 5% suffer critical symptoms (respiratory failure,
                    shock, or multiorgan dysfunction).</p>
            </div>
        </div>
    </div>




    <!----------------Coronavirus symptoms-------------------->
    <div class="container-fluid pt-5 pb-5" id="sympid">
        <div class="section_header text-center mb-5 mt-4">
            <h1>Coronavirus Symptoms</h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-12 mt-5 ">
                    <figure class="text-center">
                        <img src="https://cdn2.vectorstock.com/i/thumb-large/07/41/coughing-emoticon-vector-33660741.jpg"
                            class="image-fluid" width="120" height="120">
                        <figcaption>Cough</figcaption>
                    </figure>
                </div>
                <div class="col-lg-4 col-md-4 col-12 mt-5 ">
                    <figure class="text-center">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRTrBRct4zhEdxwDvDKXqKS6AG4znTJA57JhOdX-3amzP-Vq1PI22mv5LJh-nZISXMG&usqp=CAU"
                            class="image-fluid" width="120" height="120">
                        <figcaption>Running Nose</figcaption>
                    </figure>
                </div>
                <div class="col-lg-4 col-md-4 col-12 mt-5 ">
                    <figure class="text-center">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRlimUDBM15Ew7iMu4xUQbfPYBhm-_1Gr6KuxZVUNHJFpqK7cVv8l8iZeoCUshK17HxtS4&usqp=CAU"
                            class="image-fluid" width="120" height="120">
                        <figcaption>Fever</figcaption>
                    </figure>
                </div>
                <div class="col-lg-4 col-md-4 col-12 mt-5 cold_fig">
                    <figure class="text-center">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTAGS1HUhqQVKTbbqlHNgE_TuJCBL3rE4F1-pHKaDiJL-DDCIng-eMLy7ys0wcB-l285sg&usqp=CAU"
                            class="image-fluid" width="120" height="120">
                        <figcaption>Cold</figcaption>
                    </figure>
                </div>
                <div class="col-lg-4 col-md-4 col-12 mt-5 ">
                    <figure class="text-center">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcROoOP29E2ucOVksNcV1Dwio8cn1GSDb3xMtpyoz5D9bZBXVojGF7bQd7hgE4ZnFijDteQ&usqp=CAU"
                            class="image-fluid" width="120" height="120">
                        <figcaption>Tiredness</figcaption>
                    </figure>
                </div>
                <div class="col-lg-4 col-md-4 col-12 mt-5 ">
                    <figure class="text-center">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTB9vX-2S5-Ik9Z_946Q0t7L_hHadqfJ4RkatZJuszsJOPLrvZllSUPibtHRG-EQjsevEQ&usqp=CAU"
                            class="image-fluid" width="120" height="120">
                        <figcaption>Difficulty Breathing</figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </div>




    <!----------------Prevention Against Coronavirus-------------------->
    <div class="container-fluid pt-5 pb-5 sub_section" id="preventid">
        <div class="section_header text-center mb-5 mt-4">
            <h1>6 Steps of Prevention Against Coronavirus</h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-12 mt-5">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-12">
                            <figure class="text-center">
                                <img src="https://previews.123rf.com/images/polinapaks/polinapaks2003/polinapaks200300173/143427591-hand-washing-black-line-sketch-water-flow-palms-and-bubbles-.jpg"
                                    class="image-fluid" width="90" height="90">
                            </figure>
                        </div>
                        <div class="col-lg-8 col-md-4 col-12">
                            <p>Wash your hands regularly for 20 seconds, with soap and water or alcohol-based hand rub
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-12 mt-5">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-12">
                            <figure class="text-center">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcShPFhRJ5vxWFyWIAwO7hfdj-5iR0ISEJpj5g&usqp=CAU"
                                    class="image-fluid" width="90" height="90">
                            </figure>
                        </div>
                        <div class="col-lg-8 col-md-4 col-12">
                            <p>Cover your nose and mouth with a disposable tissue or flexed elbow when you cough or
                                sneeze</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-12 mt-5">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-12">
                            <figure class="text-center">
                                <img src="https://thumbs.dreamstime.com/b/covid-coronavirus-social-distancing-prevention-people-avoid-contact-outbreak-spread-vector-silhouette-style-icon-illustration-186098434.jpg"
                                    class="image-fluid" width="90" height="90">
                            </figure>
                        </div>
                        <div class="col-lg-8 col-md-4 col-12">
                            <p>Avoid close contact(1 meter or feet) with people who are not well</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-12 mt-5">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-12">
                            <figure class="text-center">
                                <img src="https://indianewengland.com/wp-content/uploads/2016/04/Home-iage.png"
                                    class="image-fluid" width="90" height="90">
                            </figure>
                        </div>
                        <div class="col-lg-8 col-md-4 col-12">
                            <p>Stay home and self-isolate from others in the house if you feel unwell</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-12 mt-5">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-12">
                            <figure class="text-center">
                                <img src="https://thumbs.dreamstime.com/b/retro-tv-sticker-simple-vector-icon-gray-background-retro-tv-sticker-simple-vector-icon-114277430.jpg"
                                    class="image-fluid" width="90" height="90">
                            </figure>
                        </div>
                        <div class="col-lg-8 col-md-4 col-12">
                            <p>Stay updated by watching news & follow the recommended practices</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-12 mt-5">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-12">
                            <figure class="text-center">
                                <img src="https://thumbs.dreamstime.com/b/high-fever-black-line-icon-flu-allergy-symptom-pictogram-web-page-mobile-app-promo-editable-stroke-180147083.jpg"
                                    class="image-fluid" width="90" height="90">
                            </figure>
                        </div>
                        <div class="col-lg-8 col-md-4 col-12">
                            <p>If you have fever, cough and difficulty in breathing, seek medical care early</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>





    <!----------------Contact us ASAP-------------------->
    <div class="container-fluid pt-5 pb-5" id="contactid">
        <div class="section_header text-center mb-5 mt-4">
            <h1>Contact us ASAP</h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 col-12">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label>Username</label>
                            <input type="text" class="form-control" name="username" placeholder="name"
                                autocomplete="off" required>
                        </div>
                        <div class="form-group">
                            <label>Email address</label>
                            <input type="email" class="form-control" name="email" aria-describedby="emailHelp"
                                placeholder="Enter email" autocomplete="off" required>
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                                else.</small>
                        </div>
                        <div class="form-group">
                            <label>Phone Number</label>
                            <input type="number" class="form-control" name="phone" placeholder="phone"
                                autocomplete="off" required>
                        </div>
                        <div class="form-group">
                            <label>Select Symptoms</label><br>
                            <div class="custom-control custom-checkbox custom-control-inline text-capitalize">
                                <input type="checkbox" class="custom-control-input chkcvalues" id="customcheckbox1"
                                    name="coronasym[]" value="cold">
                                <label class="custom-control-label" for="customcheckbox1">Cold</label>
                            </div>
                            <div class="custom-control custom-checkbox custom-control-inline text-capitalize">
                                <input type="checkbox" class="custom-control-input chkcvalues" id="customcheckbox2"
                                    name="coronasym[]" value="fever">
                                <label class="custom-control-label" for="customcheckbox2">Fever</label>
                            </div>
                            <div class="custom-control custom-checkbox custom-control-inline text-capitalize">
                                <input type="checkbox" class="custom-control-input chkcvalues" id="customcheckbox3"
                                    name="coronasym[]" value="breath">
                                <label class="custom-control-label" for="customcheckbox3">Difficulty in
                                    breathing</label>
                            </div>
                            <div class="custom-control custom-checkbox custom-control-inline text-capitalize">
                                <input type="checkbox" class="custom-control-input chkcvalues" id="customcheckbox4"
                                    name="coronasym[]" value="tired">
                                <label class="custom-control-label" for="customcheckbox4">Feeling Weak</label>
                            </div>
                            <input type="text" id="txtvalues" name="txtvalues" value="">
                        </div>
                        <div class="form-group">
                            <label>Description</label>
                            <small id="desc" class="form-text text-muted pt-0">If you feel its important</small>
                            <textarea class="form-control" id="exampleFormControlTextarea1" name="desc"
                                rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>

        </div>
    </div>


    <!------------------Top cursor------------------->
    <div class="container scrolltop float-right pr-5">
        <i class="fa fa-arrow-up" onclick="topFunction()" id="myBtn"></i>

    </div>







    <!-----------------Footer-------------------->
    <footer class="mt-5">
        <div class="footer_style text-white text-center container-fluid">
            <p><span>&#169;</span>No copyright issue</p>

        </div>
    </footer>

    <script>

        $('.count').counterUp({
            delay: 10,
            time: 5000
        })

        //Top arrow script
        mybutton = document.getElementById("myBtn");
        //when user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () { scrollFunction() };
        function scrollFunction() {
            if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
                mybutton.style.display = "block";
            }
            else {
                mybutton.style.display = "none";
            }
        }
        //When the user clicks button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0; // for Safari
            document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
        }

        //Handling checkbox input utube -   https://www.youtube.com/watch?v=45SB_iI3aZc
        $(document).ready(function () {
            $('.chkcvalues').click(function () {
                var txt = "";
                $('.chkcvalues:checked').each(function () {
                    txt += $(this).val() + ","
                });
                txt = txt.substring(0, txt.length - 1)
                $('#txtvalues').val(txt);
            });
        });

        function fetch() {
            $.get("https://api.covid19api.com/summary",
                function (data) {
                    console.log(data['Countries'].length);
                    var tbval = document.getElementById('tbval');

                    for (var i = 1; i < (data['Countries'].length); i++) {
                        var x = tbval.insertRow();

                        x.insertCell(0);
                        tbval.rows[i].cells[0].innerHTML = data['Countries'][i - 1]['Country'];
                        tbval.rows[i].cells[0].style.background = '#7a4a91';
                        tbval.rows[i].cells[0].style.color = '#fff';

                        x.insertCell(1);
                        tbval.rows[i].cells[1].innerHTML = data['Countries'][i - 1]['TotalConfirmed'];
                        tbval.rows[i].cells[1].style.background = '#4bb7d8';

                        x.insertCell(2);
                        tbval.rows[i].cells[2].innerHTML = data['Countries'][i - 1]['TotalRecovered'];
                        tbval.rows[i].cells[2].style.background = '#4bb7d8';

                        x.insertCell(3);
                        tbval.rows[i].cells[3].innerHTML = data['Countries'][i - 1]['TotalDeaths'];
                        tbval.rows[i].cells[3].style.background = '#f36e23';

                        x.insertCell(4);
                        tbval.rows[i].cells[4].innerHTML = data['Countries'][i - 1]['NewConfirmed'];
                        tbval.rows[i].cells[4].style.background = '#4bb7d8';

                        x.insertCell(5);
                        tbval.rows[i].cells[5].innerHTML = data['Countries'][i - 1]['NewRecovered'];
                        tbval.rows[i].cells[5].style.background = '#9cc850';

                        x.insertCell(6);
                        tbval.rows[i].cells[6].innerHTML = data['Countries'][i - 1]['NewDeaths'];
                        tbval.rows[i].cells[6].style.background = '#f36e23';
                    }
                }
            );
        }

        // const api_url =
        //     "https://api.covid19api.com/summary";

        // // Defining async function
        // async function getapi(url) {

        //     // Storing response
        //     const response = await fetch(url);

        //     // Storing data in form of JSON
        //     var data = await response.json();
        //     console.log(data);
        //     if (response) {
        //         hideloader();
        //     }
        //     show(data);
        // }
        // // Calling that async function
        // getapi(api_url);

        // // Function to hide the loader
        // function hideloader() {
        //     document.getElementById('loading').style.display = 'none';
        // }
        // // Function to define innerHTML for HTML table
        // function show(data) {
        //     let tab = '<tr>
        //         < th > Country</th>
        //             <th>TotalConfirmed</th>
        //             <th>TotalRecovered</th>
        //             <th>TotalDeaths</th>
        //             <th>NewConfirmed</th>
        //             <th>NewRecovered</th>
        //             <th>NewDeaths</th>
        //             </tr > ';

        //     // Loop to access all rows 
        //     for (let r of data.list['Countries']) {
        //         tab += `<tr> 
        //                 <td>${r.Country} </td>
        //                 <td>${r.TotalConfirmed}</td>
        //                 <td>${r.TotalRecovered}</td> 
        //                 <td>${r.TotalDeaths}</td>   
        //                 <td>${r.NewConfirmed}</td> 
        //                 <td>${r.NewRecovered}</td>        
        //                 <td>${r.NewDeaths}</td> 
        //                 </tr>`;
        //     }
        //     // Setting innerHTML as tab variable
        //     document.getElementById("").innerHTML = tab;
        // }

        {% if thank %}
        alert('Thanks for contacting us. We wil get back to you soon!');
        document.location = "/";
        {% endif %}

    </script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
</body>

</html>